<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>User</title>
</head>
<body>
<p><b>Имя :</b></p>
<p th:text="${users.getName()}">VALUE</p>
<p><b>Возраст :</b></p>
<p th:text="${users.getAge()}">VALUE</p>
<p><b>Почтовый адрес:</b></p>
<p th:text="${users.getEmail()}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${users.getId()})}">Обновить данные</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${users.getId()})}">
    <input type="submit" value="Удалить пользователя"/>
</form>
</body>
</html>